/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0%;
    text-decoration: none;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
    color: #59dae4;
    text-decoration: none;
  }
  
  .cloudbooks-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .cloudbooks-link:hover,
  .cloudbooks-link:focus {
    color: #ffffff;
    text-decoration: none;
  }
  
  .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .user-menu {
    position: relative;
    display: inline-block; 
  }
  
  .user-menu #user-icon {
    display: inline-block;
    cursor: pointer; 
  }
  
  /* Estilos para el submenú */
  .sub-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    border-radius: 8px;
    z-index: 1;
    top: calc(100% + 10px); 
    left: 0; 
    min-width: 160px; 
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }
  
  /* Muestra el submenú */
  .user-menu.active .sub-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    left: -170px;
  }
  
  .sub-menu li {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease; 
  }
  
  .sub-menu li a {
    display: flex;
    align-items: center;
    padding: 12px 16px; 
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    flex: 1;
  }
  
  .sub-menu li a i {
    margin-right: 8px; 
    font-size: 16px;
  }
  
  .sub-menu li:hover {
    background-color: #f0f0f0;
  }
  
  .sub-menu li a:hover {
    color: #000; 
  }

  /* Estilos de la pantalla modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: auto;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.container {
    max-width: 700px; 
    margin: 0 auto; 
    padding: 50px 0;
}

#loanForm {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px; 
    margin: 0 auto; 
}

/* Estilo para el título */
#loanForm h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Estilo para las etiquetas */
#loanForm label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
#loanForm input[type="text"],
#loanForm input[type="number"],
#loanForm textarea,
#loanForm input[type="date"],
#loanForm input[type="checkbox"],
#loanForm input[type="submit"] {
    width: calc(100% - 10px); 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#loanForm input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loanForm input[type="submit"]:hover {
    background-color: #0056b3;
}

  footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
  }
  