body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

#introduccion {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto; /* Centra la introducción y la ajusta al ancho de la página */
    max-width: 1200px; /* Establece un ancho máximo para la introducción */
    box-sizing: border-box; /* Incluye el padding en el ancho */
}

#introduccion h1 {
    color: #333333;
    margin-bottom: 10px;
}

#introduccion p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #59dae4;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; /* Alinea los elementos en el centro y separados uniformemente */
    flex-wrap: wrap; /* Permitir que los elementos fluyan hacia abajo */
}

section {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    flex: 1; /* Distribuye el espacio disponible de manera uniforme */
    max-width: 300px; /* Limita el ancho de cada sección */
    text-align: center; /* Centra el contenido */
}

section h2 {
    color: #333333;
}

section p {
    color: #666666;
}

section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    clear: both; /* Para limpiar el float */
}

/* Contenedor para los elementos adicionales */
#additional-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px; /* Espacio inferior */
}

/* Estilos para el mapa */
/* Estilos para el mapa */
iframe {
    border: 0;
    border-radius: 5px;
    width: calc(50% + 2px); /* Mitad del ancho del contenedor principal, descontando los márgenes */
    height: 450px; /* Altura fija */
    margin-right: 20px; /* Margen derecho para separar del otro elemento */
    float: left; /* Alinear a la izquierda */
}

/* Estilos para el recuadro */
#info-recuadro {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    margin: 20px;
    width: calc(50% - 20px); /* Mitad del ancho del contenedor principal, descontando los márgenes */
    box-sizing: border-box; /* Incluir el padding en el ancho */
    float: left; /* Alinear a la izquierda */
}

@media only screen and (max-width: 600px) {
    #registration-box {
        width: 90%;
    }
}