body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0%;
}

.logo {
    width: 40px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
    margin-right: 10px;
}

#login-box {
    background-color: #ffffff;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5% auto;
    max-width: 400px;
}

h2 {
    color: #333333;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 3%;
    margin: 3% 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="submit"] {
    width: 90%;
    padding: 3%;
    margin: 3% 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    #login-box {
        width: 90%;
    }
}

.cloudbooks-link {
    text-decoration: none; /* Evitar el subrayado del enlace */
    color: inherit; /* Heredar el color del texto del padre */
}